<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>
    {#    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">#}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
          rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet"
          href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'weather/css/landing.css' %}">
    <script src="https://kit.fontawesome.com/1a5f3f19e3.js"
            crossorigin="anonymous"></script>
</head>

<body>
<section class="hero is-info is-fullheight">
    <div class="hero-video is-flex-mobile">
        <video poster="{% static 'seashore-cover.jpg' %}" id="bgvid"
               playsinline autoplay muted loop>
            <source src="{% static 'seashore.mp4' %}" type="video/mp4">
        </video>
    </div>

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="http://bulma.io/images/bulma-type-white.png"
                             alt="Logo">
                    </a>
                    <span class="navbar-burger burger"
                          data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-white is-outlined"
                               href="{% url 'main_index' %}">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span>Home</span>
                            </a>
                        </span>
                        <span class="navbar-item">
                                <a class="button is-white is-outlined"
                                   href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-left">
            <div class="columns mb-6">
                <div class="column"></div>
                <div class="column is-half">
                    <h1 class="icon-text is-size-1 has-text-grey-dark">
                        <span class="icon"><i class="fas fa-wind"></i></span><span>  Weathapp</span>
                    </h1>
{#                    <h1 class="is-size-1 has-text-dark">Weathapp</h1>#}
                    <div class="box py-3" style="background-color: rgba(255, 255, 255, 0.8)">
                        <form method="post" action="{% url 'weather:current' %}">
                            {% csrf_token %}
                            <div class="field">
                                <label class="is-size-5">Input the location you're interested in!</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="e.g. Moscow" name="location" required>
                                </div>
{#                                <p class="help">This is a help text</p>#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>

</section>
{#    <script async type="text/javascript" src="../js/bulma.js"></script>#}
</body>

</html>